<form action="/auctions" method="POST">
  <label name="item_name">Item Name</label>
  <input name="auction[item_name]" type="text" ><br>

  <label name="condition">Condition</label>
  <input name="auction[condition]" type="text" ><br>

  <label name="starts">Starts At</label>
  <input name="auction[description]" type="text" ><br>

  <label name="ends">Ends At</label>
  <input name="auction[description]" type="text"><br>

  <label name="description">Description</label>
  <input name="auction[description]" type="text"><br>

  <button type="submit">Add</button>

</form>
